

<div class='barberpost'>
<h1>update your clients here</h1>
<%= form_with(model: @post) do |f| %>
<p><%=f.text_field :post,placeholder: 'post your update here',class:'name' %></p>
<%= f.submit 'post', id:'post' %>
<%end%>
</div>
